{% block content %}
<script>
    function deleteRecord(url) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", url);
        xhr.send();
        xhr.onload = function() {
            if (xhr.status != 200) {
                console.log('ERROR');
            } else {
                console.log('DELETED!');
            }
            location.reload();
        };
        xhr.onerror = function() {
            console.log('NO CONNECTION');
        };
    }
</script>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding-top: 8px;
      padding-bottom: 8px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 0;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<div>
    {% if role == "/inbox" %}
        <h1>Welcome to your Inbox folder!</h1>
    {% else %}
        <h1>Welcome to your Sent Messages folder!</h1>
    {% endif %}
</div>

{% if role == "/outbox" %}
    <h2>Messages Already Delivered:</h2>
{% else %}
    <h2>Your messages:</h2>
{% endif %}

<table>
    <th>email</th>
    <th>Delivery</th>
    <th>Text</th>
    <th>Controls</th>

    {% if role == "/outbox" %}
        {% for message in messages %}
        <tr>
            <td>{{message.receiver_email}}</td>
            <td>{{message.time}}</td>
            <td>{{message.message}}</td>
            <td>
                <a href="outbox/{{message['id']}}">Open</a>
                or
                <a onclick=deleteRecord("outbox/{{message['id']}}") href="#">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        {% for message in messages %}
        <tr>
            <td>{{message.sender_email}}</td>
            <td>{{message.time}}</td>
            <td>{{message.message}}</td>
            <td>
                <a href="inbox/{{message['id']}}">Open</a>
                or
                <a onclick=deleteRecord("inbox/{{message['id']}}") href="#">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
    <br>
</table>

{% if role == "/outbox" %}
<div>
    <h2>Messages Pending Delivery:</h2>
</div>
<table>
    <th>email</th>
    <th>Delivery</th>
    <th>Text</th>
    <th>Controls</th>

    <tr>
        {% for message in pending %}
        <td>{{message.receiver_email}}</td>
        <td>{{message.time}}</td>
        <td>{{message.message}}</td>
        <td>
            <a href="outbox/{{message['id']}}">
                Open
            </a>
            or
            <a onclick=deleteRecord("outbox/{{message['id']}}") href="#">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}


