{% extends 'body.html' %}
<meta http-equiv="Content-Security-Policy" media-src='/';>
<h1>{% block title %} List of messages {% endblock %}</h1>

{% block content %}
    <b>from:</b> {{ message['sender_email'] }}
    <br>
    <b>to:</b> {{ message['receiver_email'] }}
    <br>
    <b>Delivery date:</b> {{ message['time'] }}
    <br>
    <b>Message:</b>
    <br>
    {{ message['message'] }}
    <br>
    {% if message['image'] != "" %}
        <b>Attached Picture:</b>
        <br>
            <div style="width: 1000px; height: 1000px">
                <img src="{{ url_for('static', filename=message['image']|safe) }}" width="100%" height="auto"/>
            </div>
        {% endif %}
    <br>
    {% if role == '/inbox' %}
    <a href="forward/{{message['id']}}">Forward</a>
    <a href="/send/replay/{{message['id']}}">Replay</a>
    {% endif %}
{% endblock %}