
<meta http-equiv="Content-Security-Policy" media-src='/';>
{% block content %}

<div>
    <p style="text-align:left; font-size: 1.875em"><a href="/">Home</a>

</div>
<p style="text-align:left; font-size: 1.2em">
    <b>from:</b> {{ message['sender_email'] }}
    <br>
    <b>to:</b> {{ message['receiver_email'] }}
    <br>
    <b>Delivery date:</b> {{ message['time'] }}
    <br>
    <b>Message:</b>
    <br>
    {{ message['message'] }}
    <br>
    {% if message['image'] != "" %}
        <b>Attached Picture:</b>
        <br>
            <div style="width: 1000px; height: 1000px">
                <img src="{{ url_for('static', filename=message['image']|safe) }}" width="100%" height="auto"/>
            </div>
        {% endif %}
    <br>
    {% if role == '/inbox' %}
    <a href="forward/{{message['id']}}">Forward</a>
    <a href="replay/{{message['id']}}">Replay</a>
    {% elif message['status'] == 1 %}
    <script type = "text/javascript">
        function getConfirmation() {
           var retVal = confirm("Are you sure you want to spend points and withdraw this message?");
           if( retVal == true ) {
              window.location="/outbox/withdraw/{{message['id']}}";
           } else {
              return false;
           }
        }
      </script>
        <button id="post-btn" onclick="getConfirmation()">Withdraw</button>
    {% endif %}
</p>
{% endblock %}