{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Drafts</title>
    <link rel="icon" href="../../static/images/icon.png">
    <style>
          table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding-top: 8px;
              padding-bottom: 8px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              max-width: 0;
            }

            tr:nth-child(even) {
              background-color: #dddddd;
            }
    </style>

    <script>
        function deleteRecord(url) {
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", url);
            xhr.send();
            xhr.onload = function() {
                if (xhr.status != 200) {
                    console.log('ERROR');
                } else {
                    console.log('DELETED!');
                }
                location.reload();
            };
            xhr.onerror = function() {
                console.log('NO CONNECTION');
            };
        }
    </script>
    <link rel="stylesheet"
    href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script
    src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
</head>
<body style="background-color: #e7f2f8b2">

    <nav class="navbar navbar-expand-md navbar-light navbar-laravel"
         style="margin-bottom: 20px;background-color: #e3f2fd;">
      <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="../static/images/icon.png" alt="logo" width="50"
                height="50">
          </a>
        </div>

        <a class="navbar-brand" href="/">My Message in a Bottle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ml-auto">
              <li>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle "
                          type="button" id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                    Hi, {{ current_user.firstname }}!
                  </button>
                  <div class="dropdown-menu"
                       aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                       href="/user_data">Account Data</a>
                    <a class="dropdown-item"
                       href="/unregister">Delete Account</a>
                    <a class="dropdown-item"
                       href="/logout">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </nav>

    <h1>Your drafts:</h1></p>

    <table>
        <th>Receiver</th>
        <th>Delivery</th>
        <th>Text</th>
        <th>Controls</th>
        <!-- the newest first -->
        {% for draft in drafts|reverse %}
        <tr>
            <td>{{draft.receiver_email}}</td>
            <td>{{draft.time}}</td>
            <td>{{draft.message}}</td>
            <td><a href="send/{{draft['id']}}">Edit</a> or
                <a onclick=deleteRecord("outbox/{{draft['id']}}")
                   href="#">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

</body>

{% endblock %}

