{% block content %}
<style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding-top: 8px;
          padding-bottom: 8px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: 0;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
</style>

<script>
    function deleteRecord(url) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", url);
        xhr.send();
        xhr.onload = function() {
            if (xhr.status != 200) {
                console.log('ERROR');
            } else {
                console.log('DELETED!');
            }
            location.reload();
        };
        xhr.onerror = function() {
            console.log('NO CONNECTION');
        };
    }
</script>

<head>
    <meta charset="UTF-8">
    <title>Drafts</title>
</head>

<div style="margin: 40px;">
    <p style="text-align:left; font-size: 1.875em"><a href="/">Home</a>
    <h1>Your drafts:</h1></p>
</div>

<table>
    <th>Receiver</th>
    <th>Delivery</th>
    <th>Text</th>
    <th>Controls</th>
    {% for draft in drafts %}
    <tr>
        <td>{{draft.receiver_email}}</td>
        <td>{{draft.time}}</td>
        <td>{{draft.message}}</td>
        <td><a href="send/{{draft['id']}}">Edit</a> or
            <a onclick=deleteRecord("outbox/{{draft['id']}}")
               href="#">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

