{% extends 'body.html' %}
{% block content %}
    <script>
    function deleteRecord(url) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", url);
        xhr.send();
        xhr.onload = function() {
            if (xhr.status != 200) {
                console.log('ERROR');
            } else {
                console.log('DELETED!');
            }
            location.reload();
        };
        xhr.onerror = function() {
            console.log('NO CONNECTION');
        };
    }
    </script>
    <l style="list-style-type: none;">
        {% for message in messages %}
            <li><b>from:</b> {{ message['sender_email'] }}</li>
            <a href="inbox/{{message['id']}}">Read more...</a> or <a onclick=deleteRecord("inbox/{{message['id']}}") href="#">Delete</a>
            <br>
        {% endfor %}
    </ul>
{% endblock %}
