{% extends 'body.html' %}
{% block content %}
<h1>Welcome to your Sent Messages folder!</h1>
    <div>
        <h2>Messages Already Delivered:</h2>
        <ul style="list-style-type: none;">
            {% for message in delivered %}
                <li><b>to:</b> {{ message['receiver_email'] }}</li>
                <a href="outbox/{{message['id']}}">Read more...</a> or <a href="outbox_delete/{{message['id']}}"> Delete </a>
                <br>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Messages Pending Delivery:</h2>
        <ul style="list-style-type: none;">
            {% for message in pending %}
                <li><b>to:</b> {{ message['receiver_email'] }}</li>
                <a href="outbox/{{message['id']}}">Read more...</a> or <a href="outbox/{{message['id']}}" data-method="delete"> Delete </a>
                <br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
