<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content Filter</title>
</head>
<body>
    <a href="/">Home</a><br>
    <form id="filter_form" action="" method="POST"
          enctype="multipart/form-data">
       {% if status %}
        <label> Your current content_filter status is: enabled
            <input type="checkbox" name="content_filter" checked="true"
                   onchange="document.getElementById('filter_form').submit()">
        </label>
        <br>
        <a href="/content_filter/list"> See words </a>
        or
        <a href="/content_filter/add"> Add words </a>
        or
        <a href="/content_filter/remove"> Remove words </a>

        {% else %}
        <label> Your current content_filter status is: disabled
            <input type="checkbox" name="content_filter"
                   onchange="document.getElementById('filter_form').submit()">
        </label>
        {% endif %}
    </form>

</body>

</html>