<html>
  <body>
  {% if users1|length > 0 %}
    <h1>Successfully Sent to:</h1>
    <ul>
      {% for user in users1: %}
      <li>
      {{user}}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if users2|length > 0 %}
  <h1>Failed to send to:</h1>
    <ul>
      {% for user in users2: %}
      <li>
      {{user}}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if users2|length == 0 and users1|length ==0 %}
      Something's wrong!
  {% endif %}
  <a href="/send">Send another message</a> or <a href="/logout">logout</a>.
  </body>
</html>
