<!--suppress ALL -->

<html>
 <head>
     <title>Edit Credentials</title>
 </head>
 <body> <!-- to set through the DOM the selected recipients passed as GET parameters -->
  <form action="" method="POST">
    {{ form.hidden_tag() }}
  <h1>Here you can change your credentials</h1>
    <dl>
     {% for field in form.display %}
     {% if field == 'old_password' %}
     <dt>{{ form[field].label }}*</dt>
     {% else %}
     <dt>{{ form[field].label }}</dt>
     {% endif %}
     <dd>{{ form[field]() }}</dd>
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <p class="help-block">{{ e }}</p>
          {% endfor %}
       {% endif %}
     {% endfor %}
    </dl>
    <p></p>
  *mandatory
    <br> <br>
    <input type=submit name="submit_button" value="Submit">
  </form>
 <a href="/logout">logout</a> ||
 <a href="/">Home</a><br>
 </body>
</html>
