<!--suppress ALL -->







<h1>My Message in a Bottle -- Now Dockerized!</h1>

{% if current_user.is_authenticated %}
  Hi {{ current_user.firstname }}!
  <a href="/inbox">Check inbox</a> or <a href="/send">Send a message</a> or
  <a href="/outbox">Check Sent Messages</a> or
    <a href="/send_draft_list">See drafts</a>
    or <a href="/logout">Logout</a>
    <h2>{{ welcome }}</h2>
    <a href="/logout">Logout</a><br>
    <a href="/user_data">Account Data</a>
    <a href="/unregister">Delete Account</a>
    <a href="/blacklist">Blacklist</a>
    <a href="/lottery">Lottery</a>
    <br><br> <a href="/report_user">Report User</a>


{% else %}
    Hi Anonymous, <a href="/login">Log in</a> or <a href="/create_user">Register</a>
{% endif %}