<!--suppress ALL -->

<html>
 <body>
  <h1>Report a User</h1>
  
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <dl>
     {% for field in form.display %}
     <dt>{{ form[field].label }}</dt>
     <dd>{{ form[field]() }}</dd>
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <p class="help-block">{{ e }}</p>
          {% endfor %}
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <br> <br>
    <input type=submit name="submit" value="Submit">
    <br> <br>
    <a href="/">Home</a>
  </form>

  
 </body>
</html>


