<!--suppress ALL -->
<html>

    <head>
     <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    </head>


  <body>
    <h1>Reports</h1>
    <table>
        <th>Timestamp</th>
        <th>Author</th>
        <th>Reported User</th>
        <th>Description</th>
        {% for report in reports %}
        <tr>
            <td>{{report.timestamp}}</td>
            <td>{{report.author_email}} </td>
            <td>{{report.reported_email}}</td>
            <td>{{report.description}}</td>
        </tr>
        {% endfor %}

    </table>

  </body>
</html>
