<!--suppress ALL -->

<html>


<style>
* {
box-sizing: border-box;
}

.form_field {
"class" : "custom-class"
height: 15px;
padding: 10px;
margin: 2px 0;
border: 8px solid #eee;
font-family:inherit;
font-size: inherit;
}

input[type=submit] {
padding: 5px;
margin:5px 0;
border: 2px solid #eee;
font-family:inherit;
font-size: inherit;
}



</style>


<div>
    <p style="text-align:left; font-size: 1.875em"><a href="/">Home</a></p>
</div>
<head>
    <script>
         // fill the recipient form input, if necessary
         function set_recipients(){
            // retrieve the URL
            const queryString = window.location.search;
            // retrieve the string of parameters
            const urlParams = new URLSearchParams(queryString);
            // check if data are passed through a GET request
            if(urlParams.has('data')){
                // retrieve the value
                const recipients = urlParams.get('data');
                // set the input field
                document.getElementById('recipient').setAttribute('value', recipients);
            }
         }

    </script>
    <title>Send a Message</title>
</head>
<body onload="set_recipients()">
<!-- to set through the DOM the selected recipients passed as GET parameters -->
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <dl>
        {% for field in form.display %}
        <dd>{{ form[field](class='form_field', placeholder=field) }}</dd>
        {% if form[field].errors %}
        {% for e in form[field].errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </dl>
    <div style="padding-left: 40px;">
    <p style="text-align:left; font-size: 1.4em; margin 80px">
        See a <a href="/list_of_recipients">list</a> of possible recipients</p>

    <input type=submit name="save_button" value="Save"> or
    <input type=submit name="send_button" value="Send">
    </div>
</form>
</body>
</html>
